<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>
     
                {{ content }}

            <div class="footer">
              {% if page.title contains "China Web Design Blog | RICE86" and paginator.total_pages > 1 %}
                  <div id="post-pagination" class="pagination">
  {% if paginator.previous_page %}
    <p class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/">&#8592; Newer Posts</a>
      {% else %}
        <a href="/{{ paginator.previous_page_path }}">&#8592; Newer Posts</a>
      {% endif %}
    </p>
  {% else %}
    <!-- <p class="previous disabled">
      <span>Previous</span>
    </p> -->
  {% endif %}

  {% if paginator.next_page %}
    <p class="next">
      <a href="/{{ paginator.next_page_path }}">Older Posts &#8594;</a>
    </p>
  {% else %}
    <!-- <p class="next disabled">
      <span>Next</span>
    </p> -->
  {% endif %}


</div><!-- endPagination links -->
{% endif %}
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
