<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}{% unless page.title contains "Banana on the Wall" %} | Banana on the Wall{% endunless %}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="alternate" type="application/rss+xml" href="http://blog.thatboy.me/feed.xml" />
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40517642-2', 'thatboy.me');
  ga('send', 'pageview');

</script>

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">< {{ site.name }} /></a></h1>
              <nav id="top-nav"><a class="extra" href="/">home</a></nav>
            </div>
     
                {{ content }}
            <div class="sidebar">
              <div class="about">
                <p><img class="profile" src="/images/banana.jpg" alt=""></p>
                <p>This blog is neither on banana nor wall. This is going to be a personal blog that is not always about geeky stuff. But if you keep checking it once in a while you may see photos of my wife, children and dog.</p>
              </div>
            </div>
            {% if page.title contains "Banana on the Wall" %}
            <section id="paging">
              {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                  <a href="/">&lArr; Previous Page</a>
                {% else %}
                  <a href="/{{ paginator.previous_page_path }}">&lArr; Previous Page</a>
                {% endif %}
              {% endif %}

              Page {{ paginator.page }} of {{ paginator.total_pages }}

              {% if paginator.next_page %}
                <a href="/{{ paginator.next_page_path }}">Next Page &rArr;</a>
              {% endif %}
            </section>
            {% endif %}
            <div class="footer">
              <p>Do people really read the stuff on footer?</p>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
